*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 2rem;
}

#root {
    display: flex;
    justify-content: center;
}

div[data-lastpass-icon-root] {
    display: none;
}

.form-label {
    margin: 0;
}

.card-header {
    display: flex;
    justify-content: center;
}